<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bilibili.diyviewcomponent">

    <application
        android:name="com.bilibili.diyviewcomponent.DiyViewApplication"
        android:allowBackup="true"
        android:label="@string/diyview_app_name"
        android:supportsRtl="true"
        android:theme="@style/commonAppTheme"
        tools:replace="android:label">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.DiyViewOneActivity"/>
        <activity android:name=".ui.DiyViewTwoActivity"/>
        <activity android:name=".ui.DiyViewThreeActivity"/>
        <activity android:name=".ui.DiyViewFourActivity"/>
        <activity android:name=".ui.IRecyclerViewActivity"/>
        <activity android:name=".ui.DiloagActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
    </application>

</manifest>
