<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.bgm.materialdesgincomponent">

    <application
        android:name="tv.bgm.materialdesgincomponent.MaterialDesginApplication"
        tools:replace="android:label"
        android:allowBackup="true"
        android:label="@string/material_desgin_app_name"
        android:supportsRtl="true"
        android:theme="@style/commonAppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ToolBarActivity"/>
        <activity android:name=".ui.AppBarLayoutActivity"/>
    </application>
</manifest>
