<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bilibili.othercomponent">

    <!--<application-->
        <!--android:name="com.bilibili.othercomponent.OtherComponentApplication"-->
        <!--android:allowBackup="true"-->
        <!--android:label="othercomponent"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/commonAppTheme"-->
        <!--tools:replace="android:label">-->
    <!--</application>-->
</manifest>
